html, body {
    max-width: 100%;
    
}

body{
 margin: 0px;
 font-family: 'Ubuntu', sans-serif;
 --Dark-Prime: #303F9F;
 --Light-Prime: #C5CAE9;
 --Prime: #3F51B5;
 --TextIco: #FFFFFF;
 --Accent: #607D8B;
 --Prime-Text: #212121;
 --Sec-Text: #757575;
 --Div: #BDBDBD;
}

table {
    border-collapse: collapse;
    width: 99.9%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 2rem;
  grid-row-gap: 0px;

  grid-template: "head head" .4fr
                 "nav  main" 2fr
                 "nav  foot" .2fr
				 / 0.5fr 1fr;
				 
}

.sticky {
	max-height: 50%;
	position: sticky;
	top: 50px;
	left: 16px;
	width: 95%;
	z-index: 20;
    -webkit-box-shadow: 6px 7px 25px -8px var(--Div);
	-moz-box-shadow: 6px 7px 25px -8px var(--Div);
	box-shadow: 6px 7px 25px -8px var(--Div);
}

header {
text-align: center;
 background-color: #03A9F4;
 border-radius: 5px;
    -webkit-box-shadow: 6px 7px 25px -8px var(--Div);
	-moz-box-shadow: 6px 7px 25px -8px var(--Div);
	box-shadow: 6px 7px 25px -8px var(--Div);
 width: 90%;
 max-width: 900px;
 left: -5%;
 overflow-x: hidden;
}

article h4 {
	color: var(--TextIco);
	font-size: 13px;
	padding-bottom: 16px;
	padding-top: 8px;
}

article li h4{
	padding-bottom: 0px;
	padding-top: 0px;
} 

article h4 {
	color: var(--Sec-Text);
}

article h1 {
 color: var(--TextIco);
 padding: 8px;
 margin-bottom: 0px;
 padding-bottom: 0px;
}

article header h4 {
	color: var(--Light-Prime);
}

.footer-container {
width: 80%;

}

.head_img{
padding: 16px;
width:auto;
height: auto;
left: 10%;
height: 80%;
position:relative;
max-width: 100%;
object-fit: contain;


}

.head_text{
	bottom: 30%;
			
}

.showcase{
	text-align: justify;
	display:grid;
	width: 85%;
	padding-top: 8px;
	padding-bottom: 8px;
	grid-template: "img1 img2 img3" 1fr
					/ 1fr 1fr 1fr;
	grid-gap: 2rem;
	padding: 32px;
	align-items: stretch;
}
	.main {
			grid-area: main;
			max-width: 900px;
			-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
			-moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
			box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
			overflow-x: hidden;
			display: flex;
			padding: 8px;
			overflow-x: hidden;
		}
		
@media only screen and (max-width:600px){

       /* styles for mobile browsers smaller than 480px; (iPhone) */
	   .wrapper{
		  display: grid;
		  width: 100%;
		  height: 100%;
		  grid-gap: 2rem;

		  grid-template: "head head" .1fr
						 "nav  nav" .5fr
						 "main main" 2fr
						 "foot foot" .5fr
						 / 1fr 1fr;
						 
		}
		
	    .sticky {
			width: 100%;
			max-height: 90%;
			display: block;
			position: relative;
			top: 15px;
			-webkit-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
			-moz-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
			box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
		}
		
		.showcase{
			display:grid;
			width: 50%;
			padding-top: 8px;
			padding-bottom: 8px;
			grid-template: "img1" 1fr
							"img2" 1fr
							"img3" 1fr
							/ 1fr;
			grid-gap: 2rem;
			padding: 32px;
			align-items: stretch;
		}
		.head_img{
			padding: 16px;
			max-width: 80%;
			max-height: 80%;
			width: auto;
			height: auto;
			left: 0%;
			height: 80%;
			position:relative;
			object-fit: contain;
		}
		
		.head_text{
			bottom: 40%;
					
		}
}

.head {
width: 100%;
height: 80%;
grid-area: head;
background-color: #B3E5FC;
    -webkit-box-shadow: 6px 7px 15px -8px var(--Div);
	-moz-box-shadow: 6px 7px 15px -8px var(--Div);
	box-shadow: 6px 7px 15px -8px var(--Div);
	overflow: hidden;
}



.nav {
grid-area: nav;
}

.foot {
grid-area:foot;
}

.image {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
  object-fit: cover;
}
.middlecontainer{
position: absolute;
 display: flex;
 width: 75%;
 left: 50%;
 top: 50%;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  z-index: 20;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  position: absolute;
}



.table-of-contents{
top: 0%;
position: relative;
left: 50%;
width: 50%;
}
.table-of-pages{
top: auto;
position: absolute;
width: 50%;
}
.container{
	padding: 16px;
	display: inline-block;
	position: relative;
	  max-width: 200px;
}

@supports (display: grid) {
  .container{
  -webkit-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
-moz-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
  position: relative;
  max-width: 400px;
  padding: 0px;
  display: flex;
  }
  
  .nav {
    -webkit-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
	-moz-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
	box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
	position: flex;
	
  }
  
  @media only screen and (max-width:600px){
	  	.sticky {
			width: 205%;
			max-height: 90%;
			display: block;
			position: relative;
			top: 15px;
			-webkit-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
			-moz-box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
			box-shadow: 6px 7px 25px -8px rgba(0,0,0,0.65);
		}
  }
  
}

article a {
	color: #000000;
	text-decoration: none;
	background: #fff;
	border-radius: 1px;
	padding: 4px;
	display: inline-block;
	margin: 0.2rem;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article a:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

nav div {
  width: 200px;
}
 
nav h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
nav li {
  font: 160 26px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
nav li:last-child {
  border: none;
}
 
nav li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.table-of-contents li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

.table-of-pages li a:hover {
  font-size: 25px;
  background: #f6f6f6;
}
.dots-list {
width: 100%;
}
.dots-list ol {
padding-left: 50px;
position: relative;
margin-bottom: 20px;
list-style: none !important;
}
.dots-list ol li {
position: relative;
margin-top: 0em;
margin-bottom: 20px;
}
 
.dots-list ol li .number_divider {
position: absolute;
left: -50px;
font-weight: 800;
font-size: 2em;
top: -5px;
}
.dots-list ol li:before {
content: "";
background: #8dbeb2;
position: absolute;
width: 2px;
top: 1px;
bottom: -21px;
left: -24px;
}
.dots-list ol li:after {
content: "";
background: #8dbeb2;
position: absolute;
width: 15px;
height: 15px;
border-radius: 100%;
top: 1px;
left: -31px;
}
 
.dots-list ol li:last-child:before {
content: "";
background: #ffffff;
}

.nav-head{
left: 50px;
-webkit-box-shadow: 0px 7px 18px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 18px -13px rgba(0,0,0,0.75);
box-shadow: 0px 7px 18px -13px rgba(0,0,0,0.75);
}

.head div {
	position: relative; 
	z-index: 10; 
	width:auto;
	color: #8A92B2;
	margin-left: 75%;
}
.head i {
top: -50px; 
position: absolute;
}

.sticky h2 {
margin: 8px; font-size: 24px;
}
